html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:focus {
    outline: none;
}
*:active, *:focus {
    outline: none;
}

//CUSTOM CSS

$classes: ("green": #008e77, "red": #D42236, "blue": #0072bc);

@each $class, $color in $classes {
    .#{$class} {
        .logo {
            path, polygon, rect, text {
                fill: $color;
            }
        }
        .border-link-colored {
            color: $color;
            border-color: $color;

            &:hover {
               background-color: $color; 
            }
        }
        span.new {
            background-color: $color;
        }
        .big-title {
            color: $color;
        }
        .social {
            color: $color;
            a:hover i {
                background-color: $color;
            }
        }
        .newsletter-icon {
            background-color: $color;
            &:hover {
                border-color: $color;
                color: $color;
            }
        }
        .card {
            &:hover {
                .border-link {
                    background-color: $color;
                }
            }
            .subscribe {
                background-color: $color;
            }
        }
        a {
            &:hover {
                h6 {
                    background-color: $color;
                }
            }
        }
    }
}

body {
    font-family: 'Roboto Slab', serif;
    color: #333333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    line-height: 1.2;
}

.logo {
    width: 540px;
    max-width: 100%;
    .st1{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
    .st2{font-size:97px;}
    .st3{letter-spacing:1;}
}

#header {
    padding: 50px 0 32px;
}

.border-link-colored {
    border: 2px solid;
    font-weight: bold;
    font-size: 22px;
    padding: 8px 20px 10px;
    border-radius: 30px;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: white;
    }
}

.border-link {
    border: 1px solid #959595;
    font-weight: bold;
    font-size: 18px;
    padding: 14px 20px;
    border-radius: 20px;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: #e1e1e1;
    }
}

.menu {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

    .divider {
        width: 2px;
        height: 40px;
        background-color: #959595;
        margin: 0 20px;
    }
    .border-link-colored {
        margin-right: 45px;
    }
}

.hamburger {
    padding: 0;
    .hamburger-box {
        width: 25px;
        height: 18px;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        width: inherit;
        background-color: #959595;
        height: 2px;
    }
    .hamburger-inner:before {
        top: 8px;
    }
    .hamburger-inner:after {
        top: 16px;
    }
    &.is-active {
        .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
            background-color: #959595;
        }
        .hamburger-inner:after {
            transition-delay: 75ms;
            transform: translate3d(0,-16px,0) rotate(-270deg);
        }
        &:hover {
            opacity: 1;
        }
    }
    &:hover {
        opacity: 1;
    }
}

#featured-games {
    background-color: #fafafa;
    padding-top: 30px;
    padding-bottom: 45px;

    .arrow {
        display: none;
    }
}

.card {
    text-align: center;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 35px 10px 28px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    box-shadow: 0px 7px 0px 0px #e1e1e1;
    transition: 0.3s;
    position: relative;
    overflow: hidden;

    &:active {
        box-shadow: none;
        transform: translateY(7px);
        outline: none;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        .overlay {
            visibility: visible;
            opacity: 1;
        }
        span.subscribe {
            visibility: visible;
            opacity: 1;
        }
        .border-link {
            color: white;
        }
        span.new {
            animation: wobble 1s forwards;
        }
    }

    .image-wrapper {
        width: 120px;
        position: relative;
        img {
            width: 100%;
        }
    }
    h3 {
        margin-top: 30px;
        font-size: 21px;
        line-height: 1.1;
        margin-bottom: 12px;
    }
    p {
        font-family: 'Roboto', sans-serif;
        color: #959595;
        font-size: 16px;
    }
    .border-link {
        margin-top: auto;
        min-width: 150px;
        border-radius: 30px;
        z-index: 1;
    }
    span.new {
        position: absolute;
        top: 20px;
        right: -50%;
    }
    .overlay {
        background-color: rgba(250, 250, 250, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 1;
    }

    .image-wrapper, h3, p, .border-link, span.new {
        z-index: 2;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.card.featured {
    h3 {
        margin-top: 25px;
        font-size: 27px;
    }
    p {
        font-size: 18px;
        &:after {
            content: "";
            background-color: #cccccc;
            height: 1px;
            width: 150px;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    .border-link {
        margin-top: 18px;
        min-width: 195px;
    }
    span.new {
        top: -12%;
        right: -25%;
    }
}

.card.registration {
    .image-wrapper img, .image-wrapper span.new, h3, p {
        opacity: 0.3;
    }
    .image-wrapper, h3, p, .border-link, span.new {
        z-index: unset;
    }
    .border-link, .image-wrapper {
        z-index: 3;
    }
    .border-link {
        font-weight: 400;
        b {
            font-weight: 700;
        }
    }
}

span.subscribe {
    text-transform: uppercase;
    color: white;
    font-size: 18px;  
    padding: 10px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    z-index: 3;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%, 5% 50%);
}

span.new {
    text-transform: uppercase;
    color: white;
    font-size: 18px;  
    padding: 10px 18px;
    border-radius: 20px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.home-section {
    h6 {
        margin-top: 50px;
    }
}

.big-title {
    font-size: 30px;
    font-weight: 700;
    &.text-black {
        color: black;
    }
}

.games {
    padding: 55px 0 80px;
    .big-title {
        margin-bottom: 105px;
    }
    .slick-list {
        margin: 0 -65px;
        padding-bottom: 7px;
    }
    .card {
        margin: 0 65px;
    }
}

.bb-1 {
    border-bottom: 1px solid black;
}

.arrow {
    position: absolute;
    top: 50%;
    color: #9c9c9c;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    &.prev {
        left: -1rem;
        transform: translate(-100%, -50%);
    }
    &.next {
        right: -1rem;
        transform: translate(100%, -50%);
    }
    &.slick-disabled {
        opacity: 0.3;
    }
}

.facts {
    background-color: #fafafa;
    padding-top: 80px;
    padding-bottom: 85px;
    color: black;

    .slick-list {
        padding-bottom: 7px;
    }
    .slick-track {
        display: flex;
        align-items: center;
    }
    
}
.fact {
    font-size: 18px;
    display: flex !important;
    border: 1px solid transparent;
    flex-wrap: wrap;
    overflow: hidden;

    .big-title {
        margin-bottom: 50px;
        font-size: 36px;
    }
    .number {
        font-weight: bold;
        margin-bottom: 25px;
    }
    strong {
        font-weight: bold;
    }
    p {
        line-height: 1.2;
    }
    .border-link-colored {
        margin-top: 70px;
    }
}
.fact.border {
    border-radius: 15px;
    border-color: #d9d9d9;
    box-shadow: 0px 7px 0px 0px #e1e1e1;
    background-color: white;
}

.two-columns {
    padding-top: 75px;
    padding-bottom: 85px;

    .big-title {
        margin-bottom: 45px;
    }
    img {
        margin-bottom: 20px;
    }
    .border-link-colored {
        margin-top: auto;
    }
    .divider {
        background-color: black;
        width: 1px;
        display: inline-block;
        bottom: -45px;
        position: relative;
        margin-bottom: 20px;
    }
}

.newsletter-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 5px;
    transition: 0.3s;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
    border: 2px solid transparent;
    &:hover {
        background-color: white;
    }
}

.newsletter {
    bottom: 0px;
    z-index: 10;
    background-color: #ffe770;
    opacity: 0;

    .hidden {
        display: none !important;
    }

    .big-title {
        font-size: 27px;
        margin-bottom: 15px;
    }
    p {
        font-family: 'Roboto', sans-serif;
    }
    input[type="email"] {
        font-family: 'Roboto', sans-serif;
        border-radius: 20px;
        padding: 15px 20px;
        width: 100%;
        align-self: center;
    }
    input[type="submit"] {
        background: none;
        font-size: 22px;
        padding: 8px 20px;
        border-radius: 30px;
        transition: 0.2s;
        border: 1px solid black;
        background-color: white;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: white;
        }
    }
    .newsletter-content{
        padding-top: 25px;
        padding-bottom: 30px;
        visibility: visible;
    }

}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.fa-times-circle.close {
    right: 0;
}

.invisible {
    opacity: 0 !important;
    visibility: hidden !important;
}

#footer {
    margin-top: auto;
    #main-footer {
        padding: 55px 0;
        background-color: #f4f4f4;
        .big-title {
            font-size: 27px;
            margin-bottom: 30px;
        }
        h5 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 40px;
        }
        ul {
            li {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 8px;
                &.last-child {
                    margin-bottom: 0;
                }
            }
            &.first-footer-menu {
                li {
                    margin-bottom: 20px;
                }
            }
        }
    }
    #sub-footer {
        padding: 30px 0;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        ul {
            margin-right: 15px;
            li {
                padding: 0 15px;
                border-right: 1px solid #333333;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}

.social {
    transform: translateY(-8px);
    display: flex;
    flex-wrap: wrap;
    i {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        background-color: white;
        width: 33px;
        height: 33px;
        text-align: center;
        margin: 0 5px;
        transition: 0.3s;
    }
    a {
        &:first-child {
            i {
                margin-left: 0;
            }
        }
        &:last-child {
            i {
                margin-right: 0;
            }
        }
        &:hover i {
            color: white;
        }
    }
}

.gioca-con-noi {
    &#featured-games {
        padding-top: 65px;
        padding-bottom: 65px;
    }
    
}

#games-list {
    .games {
        padding-top: 65px;
        padding-bottom: 0;

        &:last-child {
            padding-bottom: 120px;
        }
        .big-title {
            margin-bottom: 60px;
        }
        .card {
            padding-bottom: 45px;
        }
    }
}

.login {
    background-color: #fafafa;
    .big-title {
        font-size: 36px;
    }
    p {
        font-family: 'Roboto', sans-serif; 
    }
    .social-button {
        flex: 1 1 auto;
        padding: 0 12px;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }

        button {
            border-radius: 5px;
            margin-top: 20px;
            height: 60px;
            color: white;
            text-align: center;
            transition: 0.3s;
            &.facebook {
                background-color: #3b5996;
            }
            &.google {
                background-color: #4485f2;
            }
            i {
                font-size: 20px;
                margin-right: 5px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    input[type="text"],input[type="email"], input[type="password"] {
        font-family: 'Roboto', sans-serif;
        border-radius: 3px;
        padding: 18px;
        width: 100%;
        background-color: white;
        border: 1px solid #999999;
        color: #999999;
        margin-top: 18px;
        margin-bottom: 25px;
    }
    input[type="submit"] {
        border-radius: 20px;
        background-color: #108ac7;
        color: white;
        padding: 10px 40px;
        font-size: 22px;
        margin-bottom: 48px;
        cursor: pointer;
        transition: 0.2s;
        align-self: flex-end;
        
        &:hover {
            opacity: 0.8;
        }
    }

    label {
        display: block;
        position: relative;
        font-family: 'Roboto', sans-serif;
        color: #999999;
        line-height: 1.3;
    }
    .login-form {
        display: flex;
        flex-direction: column;
        p {
            color: #1584fe;
            font-size: 18px;
        }
    }
    .policy {
        padding-top: 30px;
        margin-top: 45px;
        border-top: 1px solid #999999;
        a {
            color: #1584fe;
        }
    }
}

.strike {
    overflow: hidden;
    text-align: center;
}
  
.strike:before,
.strike:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.strike:before {
    right: 0.5em;
    margin-left: -50%;
    transform: translateX(-20px);
}

.strike:after {
    left: 0.5em;
    margin-right: -50%;
    transform: translateX(20px);
}

.check-wrapper {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}
  
.check-wrapper input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid  #999999;
}
  
.check-wrapper:hover input ~ .checkmark {
    background-color: #e8e8e8;
}
  
.check-wrapper input:checked ~ .checkmark {
    background-color: #108ac7;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.check-wrapper input:checked ~ .checkmark:after {
    display: block;
}

.check-wrapper .checkmark:after {
    left: 6px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


a {
    h6 {
        padding: 16px 40px;
        border-radius: 30px;
        transition: 0.2s;
    }
    &:hover {
        h6 {
            color: white;
        }
    }
}

.slick-dots {
    li {
        button:before {
            font-size: 16px;
        }
    }
}


@keyframes jackInTheBox {
    from {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
    }
  
    50% {
      transform: rotate(-10deg);
    }
  
    70% {
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      transform: scale(1);
    }
}
  
.jackInTheBox {
    animation: jackInTheBox 1s forwards;
}

@keyframes wobble {
    from {
      transform: translate3d(0, 0, 0);
    }
  
    15% {
      transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
  
    30% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  
    45% {
      transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
  
    60% {
      transform: translate3d(2.5%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
  
    75% {
      transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
.wobble {
    animation: wobble 1s forwards;
}
  


@media screen and (min-width: 770px) {
    .card.big {
        padding-top: 40px;
        padding-bottom: 55px; 
    
        .image-wrapper {
            width: 155px;
        }
        .border-link {
            margin-top: 30px;
        }
        p {
            &:after {
                margin-top: 22px;
            }
        }
    }
    span.new {
        font-size: 14px;
    }
}
@media screen and (max-width: 769px) {
    #featured-games .slick-list {
        padding-bottom: 7px;
    }
    .card.featured {
        margin: 0 100px;
    }
    .card, .games .card {
        margin: 0 50px;
    }
    .arrow.prev {
        left: 0;
        transform: translate(0%, -50%);
    }
    .arrow.next {
        right: 0;
        transform: translate(0%, -50%);
    }
    .games .slick-list {
        margin: 0;
    }
    a {
        h6 {
            color: white;
        }
    }
    @each $class, $color in $classes {
        .#{$class} {
            a {
                h6 {
                    background-color: $color;
                }
            }
        }
    }
    .newsletter {
        position: relative !important;
    }
}
@media screen and (max-width: 576px) {
    #header {
        padding: 20px 0 15px;
    }
    .logo {
        width: 200px;
    }
    .card {
        margin: 0 40px !important; 
    }
    .two-columns .divider {
        width: 100%;
        bottom: unset;
        height: 1px;
        margin: 40px;
    }
    .login .social-button {
        flex: 0 0 100%;
        padding: 0 !important;
        margin-bottom: 16px;
        &:last-child {
            margin: 0;
        }
    }
}