@media (min-width: 1280px) {
    .container {
        max-width: 1142px;
    }
}
@media (min-width: 1650px) {
    .container {
        max-width: 1472px;
    }
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}