.pantoni-wrapper {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	background: linear-gradient(90deg, #008e77 0%, #d42236 50%, #0072bc 100%);
	border-radius: 50%;
	z-index: 20;
}

.pantoni-wrapper .pantoni {
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	position: absolute;
	top: 0;
	transform: translateY(-100%);
	display: flex;
	flex-direction: column-reverse;
}

.pantoni-wrapper:hover .pantoni {
	visibility: visible;
	opacity: 1;
}

.pantoni-wrapper span, .pantoni-wrapper i {
	font-size: 30px;
	width: 30px;
	height: 30px;
	margin: 5px 0;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.pantoni-wrapper #pantone-green {
	background-color: #008e77;
}

.pantoni-wrapper #pantone-red {
	background-color: #D42236;
}

.pantoni-wrapper #pantone-blue {
	background-color: #0072bc;
}